// Place all the styles related to the Quotes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.card
  color: inherit
  text-decoration: inherit
  button
    z-index: 1
  &.disabled, &[disabled]
    pointer-events: none
    opacity: .8